{% extends "common_base.html" %}


{% block content %}

<table>
    <tr>
        <td>doc_id</td>
        <td>盒编号</td>
        <td>twh_id</td>
        <td>管理人</td>
        <td>日期</td>

        <td>品牌</td>
        <td>批号</td>
        <td>颜色</td>
        <td>大小</td>


    </tr>
    {% for item in items %}
    <tr>


        <form action="stock_rule_update" method="post">
            <td>{{ item.doc_id }}</td>
            <td>{{ item.col }}</td>
            <td>{{ item.twh_id }}</td>
            <td>{{ item.user_id}}</td>
            <td>{{ item.date_time }}</td>
            <input type="hidden" name="doc_id" value="{{ item.doc_id }}">
            <input type="hidden" name="col" value="{{ item.col }}">
            <input type="hidden" name="twh_id" value="{{ item.twh_id }}">

            <td><select id="brand" name="brand">
                    <option value="定远">定远</option>
                    <option value="赢冠">赢冠</option>
                    <option value="鼎冠">鼎冠</option>
                    <option value="正午">正午</option>
                    <option value="赢冠">赢冠</option>
                    <option value="博瑞特">博瑞特</option>
                    <option value="嘉伟">嘉伟</option>
                    <option value="美尔晶">美尔晶</option>
                    <option value="名扬">名扬</option>
                </select>
                {{ item.brand }}
            </td>
            <td>{{ item.batch_num }}</td>
            <td><select id="color" name="color">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                </select>
                {{ item.color }}
            </td>
            <td><select id="size" name="size">
                    <option value="大">大</option>
                    <option value="中">中</option>
                    <option value="小">小</option>
                </select>
                {{ item.size }}
            </td>
            <td><input type="submit" value="更新"> </td>
        </form>
    </tr>
    {% endfor %}
</table>


{% endblock %}