<tr>
    <td align="right">twh_id</td>
    <td></td>
    <td><input type="text" id="twh_id" name="twh_id" value="{{ twh_id }}"></td>
</tr>
<tr>
    <td align="right">批次</td>
    <td></td>
    <td><input type="text" id="batch_number" name="batch_number" value="2309"></td>
</tr>
<tr>
    <td align="right">品牌</td>
    <td></td>
    <td>{% include 'embeded_brand_select.html' %}</td>
</tr>
<tr>
    <td align="right">规格</td>
    <td></td>
    <td><select id="color" name="color">
            <option value="A1">A1</option>
            <option value="A2" selected>A2</option>
            <option value="A3">A3</option>
        </select>
        <select id="size" name="size">
            <option value="大">大</option>
            <option value="中" selected>中</option>
            <option value="小">小</option>
        </select>
        <select id="shape" name="shape">
            <option value="方">方</option>
            <option value="圆" selected>圆</option>
            <option value="其他">其他</option>
        </select>
    </td>
</tr>