{% extends "common_base.html" %}


{% block content %}

<table>
    <tr>

        <!-- <td align="center">doc_id</td>
        <td align="center">盒编号</td>
        <td align="center">twh_id</td> -->
        <td align="center">管理人</td>
        <!-- <td align="center">日期</td> -->

        <td align="center">品牌系列</td>
        <td align="center">批次</td>
        <td align="center">颜色</td>
        <td align="center">大小</td>
        <td align="center">形状</td>
        <td align="center">盒编号</td>
        <td align="center">数量</td>
    </tr>
    {% for item in items %}
    <tr>
        <form action="stock_rule_update" method="post">
            <!-- <td align="center">{{ item.doc_id }}</td>
            <td align="center">{{ item.col }}</td>
            <td align="center">{{ item.twh_id }}</td> -->
            <td align="center">{{ item.user_id}}</td>
            <!-- <td align="center">{{ item.date_time }}</td> -->
            <input type="hidden" name="doc_id" value="{{ item.doc_id }}">
            <input type="hidden" name="col" value="{{ item.col }}">
            <input type="hidden" name="twh_id" value="{{ item.twh_id }}">

            <td>{% include 'embeded_brand_selected.html' %}
            </td>
            <td>{{ item.batch_number }}</td>
            <td><select id="color" name="color">
                    <option value="A1" {% if item.color=='A1' %} selected{% endif%}>A1</option>
                    <option value="A2" {% if item.color=='A2' %} selected{% endif%}>A2</option>
                    <option value="A3" {% if item.color=='A3' %} selected{% endif%}>A3</option>
                </select>
            </td>
            <td><select id="size" name="size">
                    <option value="T1" {% if item.size=='T1' %} selected{% endif%}>T1</option>
                    <option value="T2" {% if item.size=='T2' %} selected{% endif%}>T2</option>
                    <option value="T3" {% if item.size=='T3' %} selected{% endif%}>T3</option>
                    <option value="T4" {% if item.size=='T4' %} selected{% endif%}>T4</option>
                    <option value="T5" {% if item.size=='T5' %} selected{% endif%}>T5</option>
                    <option value="T6" {% if item.size=='T6' %} selected{% endif%}>T6</option>
                </select>
            </td>
            <td><select id="shape" name="shape">
                    <option value="M" {% if item.shape=='M' %} selected{% endif%}>M</option>
                    <option value="S" {% if item.shape=='S' %} selected{% endif%}>S</option>
                </select>
            </td>

            <td align="center">{{ item.col }}</td>
            <td align="center">{{ item.stock_quantity }}</td>
            <td><input type="submit" value="更新"> </td>
        </form>
    </tr>
    {% endfor %}
</table>

{% endblock %}