{% extends "wcs/twh/common_base.html" %}

{% block content %}
当前库存报告: {{ timestamp}}
<table>
    <tr>
        <td></td>
        <td>{% for brand in factory['my_brands'] %}
            <input type="checkbox" id="brand" name="brand" value="日本山八合成">{{ brand }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        {% for header in heading %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% for item in stocks %}
    <tr>
        <!-- <td>{{ item.doc_id }}</td> -->
        <td>{{ item.col }}</td>
        <!-- <td>{{ item.twh_id }}</td> -->
        <!-- <td>{{ item.user_id}}</td> -->
        <!-- <td>{{ item.date_time }}</td> -->
        <td>{{ item.brand }}</td>
        <td>{{ item.batch_number }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.shape }}</td>
        <td>{{ item.location }}</td>
        <!-- <td>{{ item.row }}</td>
        <td>{{ item.col }}</td>
        <td>{{ item.layer }}</td> -->
        <td>{{ item.stock_quantity }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}