{% extends "wcs/twh/common_base.html" %}


{% block content %}

<table>
    <tr>
        <td>doc_id</td>
        <td>twh_id</td>
        <td>user_id</td>
        <td>user_name</td>
        <td>date_time</td>
        <td>订单号</td>
        <td>品牌</td>
        <td>批号</td>
        <td>颜色</td>
        <td>大小</td>
        <td>牙位清单</td>
        <!-- <td>行</td>
        <td>列</td>
        <td>层</td>
        <td>数量</td> -->

    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.doc_id}}</td>
        <td>{{ item.twh_id}}</td>
        <td>{{ item.user_id}}</td>
        <td>{{ item.user_name}}</td>
        <td>{{ item.date_time}}</td>
        <td>{{ item.order_id}}</td>
        <td>{{ item.brand}}</td>
        <td>{{ item.batch_number}}</td>
        <td>{{ item.color}}</td>
        <td>{{ item.size}}</td>
        <td>{{ item.locations}}</td>
        <!-- <td>{{ item.row}}</td>
        <td>{{ item.col}}</td>
        <td>{{ item.layer}}</td>
        <td>{{ item.withdraw_quantity}}</td> -->
    </tr>
    {% endfor %}
</table>

{% endblock %}