{% extends "common_base.html" %}

{% block js_source %}
{% endblock %}



{% block content %}
<form action="/withdraw_begin" method="POST">
    <fieldset>
        <legend>出库申请</legend>
        <table>
            <tr>
                <td>
                    订单编号</td>
                <td></td>
                <td><input type="text" id="order_code" name="order_code"></td>
            </tr>
            {% include 'tooth_search.html' %}
        </table>
    </fieldset>
    <p>
        {% include 'tooth_chart_multi.html' %}
        <hr>
        <input type="submit" value="提交申请">
</form>
{% endblock %}