<!doctype html>
<html>
   <body>
      <table border = "1">
         {% for key, value in user_request.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

      <table border="1">
            <tr>
            </tr>
      </table>

      <hr>
      <form action="deposit_move" method="POST">
         <br><input name="brand" value="{{ user_request['brand'] }}">
         <br><input name="color" value="{{ user_request['color'] }}">
         <br><input name="size" value="{{ user_request['size'] }}">
         <br><input name="shape" value="{{ user_request['shape'] }}">
         <br><input name="location_vertical" value="{{ user_request['location_vertical'] }}">
         <br><input name="location_horizontal" value="{{ user_request['location_horizontal'] }}">
         <br><input name="location_index" value={{ user_request['location_index'] }}>
         <br><input name="origin_quantity" value="{{ user_request['origin_quantity'] }}">
         <br><input name="deposit_quantity" value="{{ user_request['deposit_quantity'] }}">
         <br>推荐库号：<input name="layer" value="{{ user_request['layer'] }}">
         <br>推荐仓号：<input name="row" value = "{{ user_request['row'] }}">
         <br>推荐盒子号<input name="col" value = "{{ user_request['col'] }}">
         <p><input type = "submit" value = "下一步：放入物料盒" /></p>

      </form>
   </body>
</html>