<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block js_source%}{% endblock %}
	<title>卷积分公司</title>
	<link rel="stylesheet" href="https://pyscript.net/alpha/phscript.css"/>
	<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
	<link rel="icon" type="image/x-icon" href="/static/company_logo.png">
	<style>
		table,
		th,
		td {
			border: 3px solid rgb(0, 229, 255);
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px;
		}
	</style>
</head>

<body>
	<a style="text-decoration: none;" href="/"><img src="/static/company_logo.png" alt="homepage"
			style="width:50px;height:50px;"> </a>
	<!-- <a style="text-decoration: none;" href="/product_iot"> 物联网 </a> -->
	<a style="text-decoration: none;" href="/product_wcs"> 自动仓库 </a>
	<a style="text-decoration: none;" href="/product_acupuncture"> 针灸仿真人 </a>
	<a style="text-decoration: none;" href="/hire"> 招聘 </a>
	<a style="text-decoration: none;" href="/contact"> 联系 </a>
	<br>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<br><hr>
	<ul class=flashes>
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	<hr><br>
	{% endif %}
	{% endwith %}
	{% block page_content %}{% endblock %}
	<br><br>
	<hr>
	山东卷积分大数据有限公司<br>
	2021-2023
</body>

</html>