{% extends "wcs/twh/common_base.html" %}


{% block content %}
<fieldset>
    <legend>在此登录</legend>
    <div>
        <form action="/twh/login_real" method="POST">
            <table>
                <tr>
                    <td>用户名</td>
                    <td> <input type="text" name="user_id" value='jigong'></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td> <input type="password" name="password" value=''></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p><input type="submit" value="登录" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
<p></p>
{% endblock %}