{% extends "common_base.html" %}


{% block content %}
<fieldset>
    <legend>在此注册新用户</legend>
    <div>
        <form action="/sign_up_real" method="POST">
            <input type="text" name="twh_id" value="{{ twh['id'] }}">
            <table>
                <tr>
                    <td>单位名称</td>
                    <td> {{ twh['factory_name'] }}</td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td> <input type="text" name="user_id" value='guest'>（用来登录，可以使用拼音，缩写，方便快速输入）</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td> <input type="text" name="user_name" value='张三丰'>（真实姓名，方便管理员找人）</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td> <input type="text" name="password" value='guest'></td>
                </tr>
                <tr>
                    <td>岗位</td>
                    <td> <input type="radio" id="position_技工" name="position" value="技工" checked>技工
                    <input type="radio" id="position_主管" name="position" value="主管">主管</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p><input type="submit" value="注册"></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
{% endblock %}