<fieldset>
    <legend>牙位</legend>
    <div>
        <table>
            <tr>
                <td></td>
                <td> <input type="checkbox" id="upleft_3" name="location_upleft_3" value="ul_3">
                    <input type="checkbox" id="upleft_2" name="location_upleft_2" value="ul_2">
                    <input type="checkbox" id="upleft_1" name="location_upleft_1" value="ul_1"> <br>
                </td>
                <td> </td>
                <td> <input type="checkbox" id="upright_1" name="location_upright_1" value="ur_1">
                    <input type="checkbox" id="upright_2" name="location_upright_2" value="ur_2">
                    <input type="checkbox" id="upright_3" name="location_upright_3" value="ur_3">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="upleft_4" name="location_upleft_4" value="ul_4"><br>
                    <input type="checkbox" id="upleft_5" name="location_upleft_5" value="ul_5"><br>
                    <input type="checkbox" id="upleft_6" name="location_upleft_6" value="ul_6"><br>
                    <input type="checkbox" id="upleft_7" name="location_upleft_7" value="ul_7"><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="upright_4" name="location_upright_4" value="ur_4"><br>
                    <input type="checkbox" id="upright_5" name="location_upright_5" value="ur_5"><br>
                    <input type="checkbox" id="upright_6" name="location_upright_6" value="ur_6"><br>
                    <input type="checkbox" id="upright_7" name="location_upright_7" value="ur_7"><br>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>--</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> <input type="checkbox" id="lowleft_7" name="location_lowleft_7" value="ll_7"><br>
                    <input type="checkbox" id="lowleft_6" name="location_lowleft_6" value="ll_6"> <br>
                    <input type="checkbox" id="lowleft_5" name="location_lowleft_5" value="ll_5"> <br>
                    <input type="checkbox" id="lowleft_4" name="location_lowleft_4" value="ll_4">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="lowright_7" name="location_lowright_7" value="lr_7"><br>
                    <input type="checkbox" id="lowright_6" name="location_lowright_6" value="lr_6"> <br>
                    <input type="checkbox" id="lowright_5" name="location_lowright_5" value="lr_5"> <br>
                    <input type="checkbox" id="lowright_4" name="location_lowright_4" value="lr_4"> <br>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" id="lowleft_3" name="location_lowleft_3" value="ll_3">
                    <input type="checkbox" id="lowleft_2" name="location_lowleft_2" value="ll_2">
                    <input type="checkbox" id="lowleft_1" name="location_lowleft_1" value="ll_1"> <br>
                </td>
                <td></td>
                <td>
                    <input type="checkbox" id="lowright_1" name="location_lowright_1" value="lr_1">
                    <input type="checkbox" id="lowright_2" name="location_lowright_2" value="lr_2">
                    <input type="checkbox" id="lowright_3" name="location_lowright_3" value="lr_3">
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</fieldset>