{% extends "common_webpage.html" %}
{% block page_content %}
<h2>针灸仿真人简介</h2>
山东卷积分针灸人，是一款针灸教具，帮助低年级针灸学生操作，练习，考试。

<h2>传统教具进行针灸练习</h2>
<ul>
    <li>模型不真实：传统的针灸模型通常是由塑料或其他材料制成的，并不能很好地模拟真人的身体特征，如皮肤颜色、弹性、骨骼结构等，这可能影响学生的实际应用能力。</li>
    <li>穴位难以准确定位：传统模型的穴位位置可能不够准确，这可能导致学生无法正确地找到穴位，从而影响针灸的效果。</li>
    <li>无法记录针刺数据：传统针灸模型通常无法记录学生的针刺数据，这使得教师很难对学生的实际操作进行评估和指导。</li>
    <li>缺乏手感：传统针灸模型通常没有手感，这使得学生无法真正体验针刺的感觉，从而难以掌握正确的针刺技巧。</li>
    <li>练习工具功能单一，比如：指力练习器。</li>
    <li>缺少实战练习手段，只能学生之间相互扎针，或者学生扎老师。练习次数有限，不可能高密度，强化所学知识点，</li>
    因此，一款能够模拟真人尺寸、具有骨骼特征、皮肤颜色和弹性近似真人、穴位具有数字传感器并能记录针刺数据、针刺时有手感的针灸模型教具可能会更好地满足学生的需求，提高学习效果。
</ul>
我们的针灸教具有以下特点：
<li>外部特征</li>
<ul>
    <li>真人3D模型， 含皮肤模型，骨骼模型。</li>
    <li>1:1 真人比例尺寸。</li>
    <li>使用时，用普通针， 不改变使用方法，不改变扎针习惯。</li>
    <li>具有骨骼特征。</li>
    <li>可以练习骨度分寸。</li>
    <li>皮肤颜色，弹性和真人相同。</li>
    <li>真实还原人体触感。</li>
    <li>位置，形状快速恢复，</li>
    <li>针孔自修复，</li>
    <li>针刺有破皮感。</li>
</ul>
<li>内部特征></li>
<ul>
    <li>人体内安置了100个人体常用针灸穴位。</li>
    <li>自主研发的数字穴位传感器。</li>
    <li>扎针到穴位时有得气感。</li>
</ul>
<li>电路和软件</li>
<ul>
    <li>无线连接到网络。</li>
    <li>针刺数据可以手机实时显示， 并有语音信息。</li>
    <li>创建治疗记录。</li>
</ul>
<h2>产品形式</h2>
<li>整个人体</li>
<li>整个人体为一个单元，不可拆分。</li>
<li>有系统感，但是搬运，翻身不方便</li>
人体部位
每个部位独立存在。
方便针对性练习，方便从各个角度扎针。
<li>部位含：</li>
<ul>
    <li>头x1</li>
    <li>胸腹x1</li>
    <li>腹臀x1</li>
    <li>大腿x2</li>
    <li>小腿x2</li>
    <li> 脚x2</li>
    <li>臂x2</li>
    <li>手x2</li>
</ul>
{% endblock %}