<!DOCTYPE html>
<html>

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block js_source%}{% endblock %}
	<title>散牙自动仓库</title>
	<link rel="icon" type="image/x-icon" href="/static/company_logo.png">
	<style>
		table,
		th,
		td {
			border: 0px solid rgb(0, 229, 255);
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px;
		}
	</style>
</head>

<body>
	{% if 'user' in session %}
	<a style="text-decoration: none;" href="/twh"> {{ session['user']['factory_name'] }} </a>
	. . . {{session["user"]['user_name'] }} . . .
	{% endif %}
	<a style="text-decoration: none;" href="/twh/logout">退出</a>
	<br>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<br>
	{% block content %}{% endblock %}
	<br><br>
	<hr>

	高密度散牙仓库 2021~2023<br>
	<a style="text-decoration: none;" href="/">山东卷积分大数据公司 </a><br>
	支持电话: 133-0640-0990 冯先生

</body>

</html>