{% extends "wcs/twh/twh_common.html" %}
{% block twh_chaptor %}
我们提供在线体验，共有两个分支：<br>
<h2>用户操作部分</h2>
<li> 模拟技工身份： 用户名: jigong, 密码: jigong</li>
<li>模拟管理员身份： 用户名: zhuguan, 密码: zhuguan</li>
<ul>
    <li><a style="text-decoration: none;"  href='/twh'>可以点击这里进入操作。</a></li>
    <li>也可以用手机扫描这个二维码进入</li><br>
    <img src="/static/url_for_twh.png" alt="url_for_twh" style="width:150px;height:150px;">
</ul>
<h2>自动仓运行部分</h2>
<li>您可以观察自动仓是如何动作的，需要您试用微信视频，请加我为好友，打开视频会议，实时观察自动仓是如何动作的</li>
<p>
<p>
    <a style="text-decoration: none;" href="/product_twh_rental_price"> <h2>设备租赁价格</h2> </a>

    {% endblock %}