{% extends "wcs/twh/twh_common.html" %}
{% block twh_chaptor %}
<img src="/static/twh_m1.jpg" alt="homepage" style="width:400px;height:300px;">
<br><a style="text-decoration: none;" href="http://voicevon.vicp.io:7001/nc/index.php/s/FEKBGp2dDRSCZmn">观看操作视频</a>
<h2>一体化，高密度，散牙自动仓</h2>
<b>仓储容量</b>
<li>1680个规格.</li>
<li>8.4万颗牙</li><br>
<b>设备安装参数</b>
<li>设备占地面积:  0.7 平方米</li>
<li>设备高度: 0.6米</li>
<li>设备重量: 55 kg</li>
<li>电源:  单相电 220V</li>
<li>工作功率: 60W ~ 120W</li>
<li>待机功率 3W</li>
<li>网络: 仓库区域有 Wifi 覆盖</li>
<li>高压气源:  标准 0.6~0.8 MPa 空压机</li><br>
<b>平均出库速度</b>
<li>5 秒每颗牙</li>
<li>30秒每订单</li><br>
<b>技工手机操作</b>
<li>领料前，无需人到仓库</li>
<li>领料时，按订单配货已经完毕</li><br>
<b>使用者培训时长</b>
<li>技工:  3 分钟</li>
<li>库管: 60 分钟</li>

{% endblock %}