{% extends "wcs/twh/twh_common.html" %}
{% block twh_chaptor %}

<pre>
租赁合同签订后，一次交付全部租金和设备押金。<br>
租金阶梯表:

月数     月单价       租金      阶梯高度    设备押金   成本(分/牙,按每月1万颗计算)
6         900      5,400       5,400      10,000        9
12        810      9,720       4,320      10,000       8.1
18        730      13,140      3,420      10,000       7.3
24        660      15,840      2,700      10,000       6.6
30        590      17,700      1,860      10,000       5.9
36        530      19,080      1,380      10,000       5.3
42        480      20,160      1,080      10,000       4.8
48        430      20,640        480      10,000       4.3
54        390      21,060        420      10,000       3.9


设备故障
   设备不能正常使用，为避免延误生产，可使用手动操作。
   手动操作时，出租方赔偿每日100元。
   如果手动操作失败，出租方赔偿每日500元。
   注意：
   1. 设备运行过程中，需要使用方提供 电力，高压气源，网络。
   2. 如果因为以上环境不足而导致无法正常使用，不视为设备故障。
   3. 每天晚上11开始维护，维护时间长度不确定，最迟可能到次日凌晨5点。

设备退还
  运费由承租方承担。
  请使用原包装物，如果丢失或损坏，可向出租方索要。
  设备退还与退回押金结算日期，以出租方收到设备当日为准。


</pre>

{% endblock %}