{% extends "common_base.html" %}

{% block js_source%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
	var msgs = "";
	var last_msg_id = 0;
	function executeQuery() {
		$.ajax({
			// url: 'http://voicevon.vicp.io:5000/get_new_msg',
			type: 'GET',
			url: 'http://localhost:5000/get_new_msg',
			success: function (data) {
				if (data['id'] == last_msg_id) return;

				msgs += data['payload'];
				document.getElementById("messages").innerHTML = msgs;
			},
			error: function (data) {
				alert('ajax error');
				alert(data);
			},
		});
		updateCall();
	}

	function updateCall() {
		setTimeout(function () { executeQuery() }, 5000);  //TODO:  5000 is var, adjusted by ui.
	}

	$(document).ready(function () {
		executeQuery();
	});

</script>
{% endblock %}

{% block content %}
<div id="messages">

</div>
{% endblock %}



{% block test %}
{% endblock %}