<!DOCTYPE html>
<html>

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block js_source%}{% endblock %}
	<style>
		<style>table,
		th,
		td {
			border: 3px solid rgb(0, 229, 255);
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px;
		}
	</style>
	</style>
</head>

<body>
	<a href="/">Home</a> {{ session["user"] }} {{factory_name}}
	<a href="logout">Logout</a> <br>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
	<p></p>
	山东卷积分大数据公司<br>
	{% block test %} {% endblock %}
	高密度散牙仓库 2021~2023<br>
	支持电话: 133-0640-0990 冯先生

</body>

</html>