<!DOCTYPE html>
<html>

<head>
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block js_source%}{% endblock %}
  <style>
    table,
    th,
    td {
      border: 0px solid rgb(234, 227, 227);
    }
  </style>
</head>

<body>
  <a href="/">Home</a> {{ session["user"] }}  {{factory_name}} <a href="logout">Logout</a> <br>
  <p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
  <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  {% block content %}{% endblock %}
  <p></p>
  山东卷积分大数据公司<br>
  {% block test %} {% endblock %}
  散牙库存自动化 2021~2023<br>
  支持电话：133-0640-0990 冯先生

</body>

</html>