{% extends "common_base.html" %}
{% block content %}

<form action = "/deposit_request" method = "POST">        

品牌：<select id="brand" name="brand" >
    <option value="好口腔">好口腔</option>
    <option value="红叶牌">红叶牌</option>
    <option value="其他">其他</option>
</select><br>
颜色：<select id="color" name="color" >
    <option value="白">白</option>
    <option value="黄">黄</option>
    <option value="灰">灰</option>
</select><br>
大小：<select id="size" name="size" >
    <option value="大">大</option>
    <option value="中">中</option>
    <option value="小">小</option>
</select><br>
形状：<select id="shape" name="shape" >
    <option value="方">方</option>
    <option value="圆">圆</option>
    <option value="其他">其他</option>
</select><br>
上下：<select id="location_vertical" name="location_vertical" >
    <option value="上">上</option>
    <option value="下">下</option>
</select><br>
左右：<select id="location_horizontal" name="location_horizontal" >
    <option value="左">左</option>
    <option value="右">右</option>
</select><br>
位置：<select id="location_index" name="location_index" >
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
</select><br>
入库数量：<input type="text" name="deposit_quantity" value=25><br>
twh：<input type="text" name="twh" value="{{ twh }}"><br>

<input type="hidden" name="doc_id" value="-1">
<input type="hidden" name="layer" value="1">
<input type="hidden" name="row" value="2">
<input type="hidden" name="col" value="3">
<input type="hidden" name="origin_quantity" value="0">
<!-- <input id="btnAppend" type="button" value="开始入库"><br> -->

<p><input type = "submit" value = "submit" /></p>

</form>
{% endblock %}