{% extends "common_webpage.html" %}
{% block page_content %}
<br>
Good English reading is necessary for all R&D positions.<br>
<h2> Software engineer</h2>
<li> Languages: Python, Javascript, RDBMS</li>
<li> Tools: Github, vs-code, UML</li>
<li> Be better if you know:</li>
<ul>
    <li> A: WMS, WCS, GIS, </li>
    <li> B: IoT, NodeRed, InfluxDB, RabbitMQ,</li>
    <li> C: Odoo, NextCloud,</li>
    <li> F: OpenCV, GStreamer, Open3D,</li>
    <li> H: Deep learning, Paddle-Paddle,</li>
    <li> K: ROS, MoveIt!, Gazebo</li>
</ul>

<h2> Embeded system engineer </h2>
<li> Linux, C++, RTOS, </li>
<li> Tools: Github, vs-code, </li>
<li> Be better if you know:
    <ul>
        <li> A: LC-EDA, Esp32, AVR, Arduino, </li>
        <li> B: Arduino, AVR, Marlin firmware, </li>
        <li> C: Adhoc, Mesh, BLE, Esp-NOW, Async-TCP, </li>
        <li> F: Gerbl, CNC, Simple FOC, </li>
        <li> H: Raspberry PI, OpenWRT,</li>
        <li> K: EspHome, Home-Assistant, MQTT,</li>

    </ul>

    <h2> Mechanic engineer </h2>
<li> Tools: Solidworks</li>
<li> Be better if you know:
    <ul>
        <li> A: Cura, Simplfied3D, Magic3D, </li>
        <li> B: URDF, Kinematic, </li>
    </ul>


<h2> 技工 </h2>
如果你是一个DIY爱好者，我们将给你加分。
<li>钳工</li>
<li>装配工</li>
<h1></h1>

{% endblock %}