{% extends "common_webpage.html" %}
{% block page_content %}
<br>
Good English reading is necessary for all developer's positions.<br>
<h2> Software developer </h2>
<li> Languages: Python, Javascript, RDBMS</li>
<li> Tools: Github, vs-code, UML</li>
<li> Be better if you know:</li>
<ul>
    <li> A: WMS, WCS, </li>
    <li> B: IoT, InfluxDB, NodeRed, RabbitMQ,</li>
    <li> C: Odoo, NextCloud,</li>
    <li> F: OpenCV, GStreamer, Open3D,</li>
    <li> H: Deep learning, Paddle-Paddle,</li>
</ul>

<h2> Embeded system develop </h2>
<li> C++, RTOS, </li>
<li> Tools: Github, vs-code, </li>
<li> Be better if you know:
    <ul>
        <li> LC-EDA, Esp32,</li>
        <li> Arduino, AVR,</li>
        <li> Adhoc, Mesh,</li>
        <li> Gerbl, CNC,</li>
    </ul>

    <h2> Mechanic engineer </h2>
<li> Tools: Solidworks</li>

<h2> 技工 </h2>
<li>钳工</li>
<li>装配工</li>
<h1></h1>

{% endblock %}