{% extends "common_webpage.html" %}
{% block page_content %}
发展离不开平台，我们的平台资源如下：
<br><br>
<h2>硬件设备</h2>
<li>3D打印机</li>
<li>物料自动仓</li>
<h2>软件工具</h2>
<li>
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:5645">Odoo</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:7001/nc">NextCloud</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:3388">GitLab</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:15672">RabbitMQ</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:8006">InfluxDB</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:6052">EspHome</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:33001">OpenWRT</a>,
</li>
<br>
在外部环境上，我们确立了供应商管理，客户管理
<p>
<h1>正在招聘的岗位</h1>
Good English reading is necessary for all R&D positions.<br>
<h2> Software engineer</h2>
<li> Languages: Python, Javascript, RDBMS</li>
<li> Tools: Github, vs-code, UML</li>
<li> Be better if you know:</li>
<ol type="1">
    <li> WMS, WCS, GIS, </li>
    <li> IoT, NodeRed, InfluxDB, RabbitMQ,</li>
    <li> Odoo, NextCloud,</li>
    <li> OpenCV, GStreamer, Open3D,</li>
    <li> Deep learning, Paddle-Paddle,</li>
    <li> ROS, MoveIt!, Gazebo</li>
    <li> HTML, CSS, Flask</li>
</ol>

<h2> Embeded system engineer </h2>
<li> Linux, C++, RTOS, </li>
<li> Tools: Github, vs-code, </li>
<li> Be better if you know:</li>
<ol type="1">
    <li> LC-EDA, Esp32, AVR, Arduino, </li>
    <li> Arduino, AVR, Marlin firmware, </li>
    <li> Gerbl, CNC, Simple FOC, </li>
    <li> Adhoc, Mesh, BLE, Esp-NOW, Async-TCP, LORA, Zigbee </li>
    <li> Raspberry PI, OpenWRT,</li>
    <li> EspHome, Home-Assistant, MQTT,</li>
</ol>

<h2> Mechanic engineer </h2>
<li> Tools: Solidworks</li>
<li> Be better if you know:</li>
<ol type="1">
    <li> A: Cura, Simplfied3D, Magic3D, </li>
    <li> B: URDF, Kinematic, </li>
</ol>
<hr>

<h2> 技工 </h2>
如果你是一个DIY爱好者, 将得到额外加分。
<li>钳工</li>
<li>装配工</li>
<h1></h1>
{% endblock %}