{% extends "common_base.html" %}


{% block content %}
<a href="/login">登录</a><br>
<a href="/sign_up?twh=221109">用户注册</a><br>
<hr>
<a href="/deposit?twh=221109">入库-221109</a><br>
<a href="/withdraw?twh=221109">出库申请-221109</a><br>
<a href="/withdraw_takeout?twh=221109">出库领料-221109</a><br>
<hr>
<a href="/deposit?twh=221223">入库-221223</a>
<hr>
<a href="/view_stocks">查看库存</a><br>
<a href="/view_users">查看用户</a><br>
<hr>
<a href="/create_map_for_new_twh">创建规则</a><br>
<a href="/view_stock_map?twh=221109">管理库存规则</a><br>
<hr><hr>
<a href="/acpt_monitor?body=101">针灸监控</a><br>

{% endblock %}



{% block test %}
{% endblock %}