{% extends "common_webpage.html" %}
{% block page_content %}

我们是新产品开发为核心的专业公司，主要涉及以下领域：
<li> 物联网产品和项目</li>
<li> <a style="text-decoration: none;" href="/product_wcs">自动化仓库</a></li>
<li> <a style="text-decoration: none;" href="/product_acupuncture">针灸仿真人</a></li>
<br>
除此之外，我们还涉猎以下趣味性极强的项目和领域
<li> 鱼菜共生</li>
<li> 磁悬浮和二维直线电机</li>
<li></li><br>
发展离不开平台，为此，我们的内部建设已经包含
<br><br>
<b>硬件设备</b>
<li>3D打印机</li>
<li>物料自动仓</li>
<br><b>软件工具</b>
<li>
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:5645">Odoo</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:7001/nc">NextCloud</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:3388">GitLab</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:15672">RabbitMQ</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:8006">InfluxDB</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:6052">EspHome</a>,
    <a style="text-decoration: none;" href="http://voicevon.vicp.io:33001">OpenWRT</a>,
</li>
<br>
在外部环境上，我们确立了供应商管理，客户管理
<br><br><br>
记下我们的网站二维码，方便下次进入。<br><br><br>
<img src="/static/url_for_homepage.png" alt="homepage" style="width:150px;height:150px;">

{% endblock %}