{% extends "common_webpage.html" %}
{% block page_content %}
<br>
<br>
<br>

我们是新产品开发为核心的专业公司，主要涉及以下领域：
<li> 物联网产品和项目</li>
<li> 自动化仓库</li>
<li> 针灸仿真人</li>
<br>
除此之外，我们还涉猎以下趣味性极强的项目和领域
<li> 鱼菜共生</li>
<li> 磁悬浮和二维直线电机</li>
<li></li><br>
发展离不开完善的平台，为此，我们的内部建设已经包含
<li><a href="http://voicevon.vicp.io:7001/nc">NextCloud</a>,
    <a href="http://voicevon.vicp.io:15672">RabbitMQ</a>,
    <a href="http://voicevon.vicp.io:1880">NodeRed</a>,
    <a href="http://voicevon.vicp.io:8006">InfluxDB</a>,
    <a href="http://voicevon.vicp.io:6052">EspHome</a>,
    <a href="http://voicevon.vicp.io:33001">OpenWRT</a>,
    <a href="http://voicevon.vicp.io:3388">GitLab</a>,
</li>
<br><br><br>
记下我们的网站二维码，方便下次进入。<br><br><br>
<img src="/static/url_for_homepage.png" alt="homepage" style="width:150px;height:150px;">

{% endblock %}