{% extends "common_base.html" %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<fieldset>
    <legend>在此注册新用户</legend>
    <div>
        <form action="/sign_up_real" method="POST">
            <table>
                <tr>
                    <td>用户名</td>
                    <td> <input type="text" name="user_id" value='guest'></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td> <input type="text" name="password" value='guest'></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p><input type="submit" value="注册"></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
{% endblock %}