<fieldset>
    <legend>牙位</legend>
    <div>
        <table>
            <tr>
                <td></td>
                <td> <input type="radio" id="upleft_3" name="location" value="ul_3"/>
                    <input type="radio" id="upleft_2" name="location" value="ul_2"/>
                    <input type="radio" id="upleft_1" name="location" value="ul_1"/> <br>
                </td>
                <td> </td>
                <td> <input type="radio" id="upright_1" name="location" value="ur_1">
                    <input type="radio" id="upright_2" name="location" value="ur_2">
                    <input type="radio" id="upright_3" name="location" value="ur_3">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="upleft_7" name="location" value="ul_7"><br>
                    <input type="radio" id="upleft_6" name="location" value="ul_6"><br>
                    <input type="radio" id="upleft_5" name="location" value="ul_5"><br>
                    <input type="radio" id="upleft_4" name="location" value="ul_4"><br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="radio" id="upright_4" name="location" value="ur_4"><br>
                    <input type="radio" id="upright_5" name="location" value="ur_5"><br>
                    <input type="radio" id="upright_6" name="location" value="ur_6"><br>
                    <input type="radio" id="upright_7" name="location" value="ur_7"><br>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>--</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> <input type="radio" id="lowleft_7" name="location" value="ll_7"><br>
                    <input type="radio" id="lowleft_6" name="location" value="ll_6"> <br>
                    <input type="radio" id="lowleft_5" name="location" value="ll_5"> <br>
                    <input type="radio" id="lowleft_4" name="location" value="ll_4">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="radio" id="lowright_4" name="location" value="lr_4"> <br>
                    <input type="radio" id="lowright_5" name="location" value="lr_5"> <br>
                    <input type="radio" id="lowright_6" name="location" value="lr_6"> <br>
                    <input type="radio" id="lowright_7" name="location" value="lr_7"><br>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="radio" id="lowleft_3" name="location" value="ll_3">
                    <input type="radio" id="lowleft_2" name="location" value="ll_2">
                    <input type="radio" id="lowleft_1" name="location" value="ll_1"> <br>
                </td>
                <td></td>
                <td>
                    <input type="radio" id="lowright_1" name="location" value="lr_1">
                    <input type="radio" id="lowright_2" name="location" value="lr_2">
                    <input type="radio" id="lowright_3" name="location" value="lr_3">
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</fieldset>