<tr>
    <td align="right">twh</td>
    <td></td>
    <td><input type="text" id="twh" name="twh" value="{{ twh }}"></td>
</tr>
<tr>
    <td align="right">批次</td>
    <td></td>
    <td><input type="text" id="batch_number" name="batch_number" value="2023-0116"></td>
</tr>
<tr>
    <td align="right">品牌</td>
    <td></td>
    <td><select id="brand" name="brand">
            <option value="定远">定远</option>
            <option value="赢冠">赢冠</option>
            <option value="鼎冠">鼎冠</option>
            <option value="正午">正午</option>
            <option value="赢冠">赢冠</option>
            <option value="博瑞特">博瑞特</option>
            <option value="嘉伟">嘉伟</option>
            <option value="美尔晶">美尔晶</option>
            <option value="名扬">名扬</option>
        </select></td>
</tr>
<tr>
    <td align="right">规格</td>
    <td></td>
    <td><select id="color" name="color">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
        </select>
        <select id="size" name="size">
            <option value="大">大</option>
            <option value="中">中</option>
            <option value="小">小</option>
        </select>
        <select id="shape" name="shape">
            <option value="方">方</option>
            <option value="圆">圆</option>
            <option value="其他">其他</option>
        </select>
    </td>
</tr>