订单编号：<input type="text" id="id_order"><br>
twh：<input type="text" id="twh" value="{{ twh }}"><br>
批次：<input type="text" id="batch_number" value=""><br>
品牌：<select id="brand" name="noname">
    <option value="好口腔">好口腔</option>
    <option value="红叶牌">红叶牌</option>
    <option value="其他">其他</option>
</select><br>
颜色：<select id="color" name="noname">
    <option value="白">白</option>
    <option value="黄">黄</option>
    <option value="灰">灰</option>
</select>
大小：<select id="size" name="noname">
    <option value="大">大</option>
    <option value="中">中</option>
    <option value="小">小</option>
</select>
形状：<select id="shape" name="noname">
    <option value="方">方</option>
    <option value="圆">圆</option>
    <option value="其他">其他</option>
</select><br>