<fieldset>
    <legend>牙位</legend>
    <div>
<table>
    <tr>
        <td></td>
        <td> <input type="checkbox" id="upleft_3" name="upleft_3" value="3">
            <input type="checkbox" id="upleft_2" name="upleft_2" value="2">
            <input type="checkbox" id="upleft_1" name="upleft_1" value="1"> <br>
        </td>
        <td> </td>
        <td> <input type="checkbox" id="upright_1" name="upright_1" value="1">
            <input type="checkbox" id="upright_2" name="upright_2" value="2">
            <input type="checkbox" id="upright_3" name="upright_3" value="3">
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" id="upleft_7" name="upleft_7" value="7"><br>
            <input type="checkbox" id="upleft_6" name="upleft_6" value="6"><br>
            <input type="checkbox" id="upleft_5" name="upleft_5" value="5"><br>
            <input type="checkbox" id="upleft_4" name="upleft_4" value="4"><br>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input type="checkbox" id="upright_4" name="upright_4" value="4"><br>
            <input type="checkbox" id="upright_5" name="upright_5" value="5"><br>
            <input type="checkbox" id="upright_6" name="upright_6" value="6"><br>
            <input type="checkbox" id="upright_7" name="upright_7" value="7"><br>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>--</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td> <input type="checkbox" id="lowleft_7" name="lowleft_7" value="7"><br>
            <input type="checkbox" id="lowleft_6" name="lowleft_6" value="6"> <br>
            <input type="checkbox" id="lowleft_5" name="lowleft_5" value="5"> <br>
            <input type="checkbox" id="lowleft_4" name="lowleft_4" value="4">
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input type="checkbox" id="lowright_4" name="lowright_4" value="4"> <br>
            <input type="checkbox" id="lowright_5" name="lowright_5" value="5"> <br>
            <input type="checkbox" id="lowright_6" name="lowright_6" value="6"> <br>
            <input type="checkbox" id="lowright_7" name="lowright_7" value="7"><br>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="checkbox" id="lowleft_3" name="lowleft_3" value="3">
            <input type="checkbox" id="lowleft_2" name="lowleft_2" value="2">
            <input type="checkbox" id="lowleft_1" name="lowleft_1" value="1"> <br>
        </td>
        <td></td>
        <td>
            <input type="checkbox" id="lowright_1" name="lowright_1" value="1">
            <input type="checkbox" id="lowright_2" name="lowright_2" value="2">
            <input type="checkbox" id="lowright_3" name="lowright_3" value="3">
        </td>
        <td></td>
    </tr>
</table>
</div>
</fieldset>