{% extends "common_base.html" %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<table>
    {% for user in users %}
    <tr>
        <td>{{ user.factory_id}}</td>
        <td>{{ user.user_id }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.position }}</td>

    </tr>

    {% endfor %}
</table>

{% endblock %}