<html>
	<head>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script>
var withdraw_list = [];
$(function(){
                

//清空界面
$("#btnClear").click(function(){
    withdraw_list=[];
    var str = "<br>";
    $("#div_output").html(str);
})
});

function get_json_from_html_form(){
    var object = {};
    object.id_order = $("#id_order").val();
    object.brand = $("#brand").val();
    object.color = $("#color").val();
    object.size = $("#size").val();
    object.shape = $("#shape").val();
    object.location_vertical = $("#location_vertical").val();
    object.location_horizontal = $("#location_horizontal").val();
    object.location_index = $("#location_index").val();
    return object;
}

function get_stock(){
    var db_row = get_json_from_html_form();
    var result = ""
    $.ajax({
        type: "POST",                           //提交的方法 POST
        url: "http://localhost:5000/get_stock", //接口地址
        data: JSON.stringify(db_row),           // 转化为json字符串--我公司是喜欢用post和json来接收的
        async: false,                           //false同步，true异步
        dataType:"json",
        // dataType: "text",  
        contentType:"application/json",
        error: function (request) {             //失败
            alert("get_stock().   Connection error");
            return "error"
        },
        success: function (data) {              //成功
            // alert(data)
            result = data
            // window.location.href = '/withdraw_move'
        }
    });
    // db_row.layer = result['layer']
    // db_row.row = result['row']
    // db_row.col = result['col']
    // db_row.stock_quantity = result['stock_qu']
    return result
}

//添加数据。分两部分：一个是数据，withdraw_list添加；另一个是界面添加
function append_to_withdraw_list(){
    // 检查库存。 http://voicevon.vicp.io:5000/get_stock?brand=123&color=白&size=大
    var in_stock = get_stock()
    // alert(in_stock)

    if (in_stock != []){
        withdraw_list.push(in_stock);
        // var str = "" + $("#id_order").val() 
        //         + " "+$("#brand").val() 
        //         + " "+$("#color").val() 
        //         + " "+$("#size").val() 
        //         + " "+$("#shape").val() 
        //         + " "+$("#location_vertical").val() 
        //         + " "+$("#location_horizontal").val() 
        //         + " "+$("#location_index").val() 
        //         + "<br>";
        var str = "  ";
        // Solution A:   diction is not sorted. display order is bad.
        // for ([k,v] of Object.entries(in_stock)){
        //     str += k + ":";
        //     str += v + "  ";
        // }
        // Solution B:   put items one by one, display order is good
        str += '需求 '
        str += in_stock['brand'] + ' '
        str += in_stock['color'] + ' '
        str += in_stock['size'] + ' '
        str += in_stock['shape'] + ' '
        str += in_stock['location_vertical'] + ' '
        str += in_stock['location_horizontal'] + ' '
        str += in_stock['location_index'] + ' '
        str += '....... 库存 '
        str += in_stock['layer'] + ' '
        str += in_stock['row'] + ' '
        str += in_stock['col'] + ' '
        str += in_stock['stock_quantity'] + ' '
        // str += in_stock['col'] + ' '
        str += "<br>";
        $("#div_output").append(str);
    }else{
        // 库存不满足，给个提示，而且不能加入到 withdraw_list 中。
        alert("没有足够库存，请更换品牌，或者其他")
    }

}


function submitForm() {
    // alert(JSON.stringify(withdraw_list));
    //标准的ajax请求方式，需要改的就是类型：GET或POST；url，后台地址。成功了弹出的data就是后台返回的数据。
    $.ajax({
        type: "POST",                                    //提交的方法 POST
        url: "http://localhost:5000/withdraw_list",     //接口地址
        data: JSON.stringify(withdraw_list),            // 转化为json字符串--我公司是喜欢用post和json来接收的
        async: false,                                   //false同步，true异步
        dataType:"text",
        contentType:"application/json",
        error: function (request) {                     //失败
            alert("submitForm()   Connection error");
        },
        success: function (data) {                      //成功
            alert(data);                                //就将返回的数据显示出来
            window.location.href = '/withdraw_end'
        }
    });
}
</script>
</head>
<body>
    订单编号：<input type="text" id="id_order" ><br>
    twh：<input type="text" id="twh" value = "{{ twh }}" ><br>
    品牌：<select id="brand" name="noname" >
    <option value="好口腔">好口腔</option>
    <option value="红叶牌">红叶牌</option>
    <option value="其他">其他</option>
    </select><br>
    颜色：<select id="color" name="noname" >
    <option value="白">白</option>
    <option value="黄">黄</option>
    <option value="灰">灰</option>
    </select><br>
    大小：<select id="size" name="noname" >
    <option value="大">大</option>
    <option value="中">中</option>
    <option value="小">小</option>
    </select><br>
    形状：<select id="shape" name="noname" >
    <option value="方">方</option>
    <option value="圆">圆</option>
    <option value="其他">其他</option>
    </select><br>
    上下：<select id="location_vertical" name="noname" >
    <option value="上">上</option>
    <option value="下">下</option>
    </select><br>
    左右：<select id="location_horizontal" name="noname" >
    <option value="左">左</option>
    <option value="右">右</option>
    </select><br>
    位置：<select id="location_index" name="noname" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    </select><br>

    <input id="btnAppend" type="button" value="添加" onclick="append_to_withdraw_list()"><br>


<form id="myForm">
    <div id="div_output">
        <hr>
    </div>
    <div>
        <hr>
        <input id="btnClear" type="button" value="重新填写"> 
        <button type="button" onclick="submitForm()">开始出库</button>
    </div>
</form>
</body>
</html>

