{% extends "common_webpage.html" %}


{% block js_source%}
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
{% endblock %}


{% block pyscript%}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-config>
    [splashscreen]
    enabled = true
    [[fetch]]
    files = ["/static/request.py"]
</py-config>
{% endblock%}



{% block page_content %}

<table width="100%" height="500">
    <td valign="top" width="80">
        <input type="checkbox" id="search_mac_addr_online" checked="true">Online  
        <input type="checkbox" id="search_mac_addr_offline" >Offline<br>
        <input type="checkbox" id="search_mac_addr_snipper" >Snipper<br><br>
        <input id="search" py-input="search_input()"><br><br>
        <div id="mac_addrs"></div>
    </td>
    <td valign="top" width="200">
        <input id="editor_mac_addr" size="40" value="1_2_3_4_5_6"><br><br>
        <button py-click="show_main_lua()">app.lua</button>
        <button py-click="show_network_config()">Network</button>
        <button py-click="show_app_config()">AppConfig</button><br><br>

        <div id="main_lua">
            <textarea id="editor_lua_script" cols="42" rows="12">print("Hello lua ide ")</textarea><br><br>
            <button id="btn_lua_delete" py-click="do_lua_delete()">Delete</button>
            <button id="btn_lua_reset" py-click="do_lua_reset('1')">Reboot</button>
            <button id="btn_lua_save" py-click="do_lua_reset('2')">Run</button>
        </div>
        <div id="network_config" style="display: none;">
            <table>
                <tr><td>WIFI_ssid</td>
                    <td> <input id="net_config_wifi_ssid" value="Perfect" ></td></tr>
                <tr><td>WIFI_password</td>
                    <td> <input id="net_config_wifi_password" value="1234567890" ></td></tr>
                <tr><td>MQTT_Broker</td>
                    <td> <input id="net_config_mqtt_broker" value="voicevon.vicp.io" ></td></tr>
                <tr><td>MQTT_Port</td>
                    <td> <input id="net_config_mqtt_port" value="1883" ></td></tr>
                <tr><td>MQTT_uid</td>
                    <td> <input id="net_config_mqtt_uid" value="von" ></td></tr>
                <tr><td>MQTT_password</td>
                    <td> <input id="net_config_mqtt_password" value="von1970" ></td></tr>
                <tr><td>URL of app.lua</td>
                    <td> <input id="main_lua_url" value="http://voicevon.vicp.io:1234/down/mcu" ></td></tr>
                <tr><td>mqtt_topic of reset mcu</td>
                    <td> <input id="main_lua_url" value="intergral/mcu/reset" ></td></tr>
                <tr><td>Mode</td>
                    <td> <input id="run_mode" value="release" ></td></tr>
            </table><br>
            <button id="btn_net_config_save" py-click="do_net_config_save()">Save</button>
        </div>
        <div id="app_config" style="display: none;">
            <select name="app_config" id="app_config_selector" py-click="app_config_click()">
                <option>串口三通</option>
                <option>车载称重</option>
            </select><br><br>
            <div id="div_app_config_uart_hub" style="display: none;">
                <table>
                    <tr><td>...</td><td>主串口</td></tr>
                    <tr><td>速率</td>
                        <td><input id="app_config_uart_master_rate" value="9600" >
                        </td></tr>
                    <tr><td>数据位</td>
                        <td><input id="app_config_uart_master_bits" value="8" >
                        </td></tr>
                    <tr><td>停止位</td>
                        <td><input id="app_config_uart_master_stop_bits" value="1" >
                        </td></tr>
                    <tr><td>校验方式</td>
                        <td><input id="app_config_uart_master_verification" value="none" >
                        </td></tr>

                    <tr><td>...</td><td>从串口</td></tr>
                    <tr><td>速率</td>
                        <td><input id="app_config_uart_master_rate" value="9600" >
                        </td></tr>
                    <tr><td>数据位</td>
                        <td><input id="app_config_uart_master_bits" value="8" >
                        </td></tr>
                    <tr><td>停止位</td>
                        <td><input id="app_config_uart_master_stop_bits" value="1" >
                        </td></tr>
                    <tr><td>校验方式</td>
                        <td><input id="app_config_uart_master_verification" value="none" >
                    </td></tr>
                </table>
            </div>
            <div id="div_app_config_onboard_weighing" style="display: none;">
                左前角 <input id="app_config_uartmaster_rate" value="9600" ><br>
                右前角 <input id="app_config_uartslave_rate" value="9600" ><br>
                左后角 <input id="app_config_uartmaster_rate" value="9600" ><br>
                右后角 <input id="app_config_uartslave_rate" value="9600" ><br>
            </div><br><br>
            <button id="btn_app_config_save" py-click="do_app_config_save()">Save</button>
        </div>

        <br><br>
        <label id="async_state"></label>
    <td valign="top"> 
        <button id="btn_debug">debug</button>
        <label id="lbl_new_online_mac">11_22_33_44_55_66</label>
        <br><br>

        <div id="debug" style="display: block;">
            <textarea id="debug_output" cols="50" rows="12">--debug ouput--</textarea><br>
        </div>
    </td>
</table>
<a href="https://jsoneditoronline.org/">json online editor</a><br>
<div id="pyscript_ready">Py-Script is loading... </div>




<script>
    const socket = io({autoConnect: false});

    document.getElementById("btn_debug").addEventListener("click", function() {
        let mac_addr = document.getElementById("editor_mac_addr").value;
        socket.connect();
        socket.on("connect", function() {
            socket.emit("mcu_join", mac_addr);
        })
    })


    socket.on("log", function(data) {
        var enc = new TextDecoder("utf-8");
        var str_mac_addr =  data['mcu_mac_addr']
        let mac_addr = document.getElementById("lbl_new_online_mac");
        mac_addr.innerText = str_mac_addr
        let debug_output = document.getElementById("debug_output");
        str = enc.decode(data["mcu_log"]);
        debug_output.value = debug_output.value + str;
        document.getElementById("debug_output").scrollTop = document.getElementById("debug_output").scrollHeight;
    })

</script>

<py-script>
    # def show_debug():
    #    Element("network_config").element.style.display = 'none'
    #    Element("app_config").element.style.display = 'none'
    #    Element("main_lua").element.style.display = 'none'
    #    # Element("debug").element.style.display = 'block'
    
    def show_main_lua():
        Element("network_config").element.style.display = 'none'
        Element("app_config").element.style.display = 'none'
        # Element("debug").element.style.display = 'none'
        Element("main_lua").element.style.display = 'block'

    def show_network_config():
        Element("main_lua").element.style.display = 'none'
        Element("app_config").element.style.display = 'none'
        # Element("debug").element.style.display = 'none'
        Element("network_config").element.style.display = 'block'

    def show_app_config():
        Element("main_lua").element.style.display = 'none'
        Element("network_config").element.style.display = 'none'
        # Element("debug").element.style.display = 'none'
        Element("app_config").element.style.display = 'block'

    def app_config_click():
        Element("div_app_config_uart_hub").element.style.display='none'
        Element("div_app_config_onboard_weighing").element.style.display='none'
        if Element("app_config_selector").value == '串口三通':
            Element("div_app_config_uart_hub").element.style.display='block'
        if Element("app_config_selector").value == '车载称重':
            Element("div_app_config_onboard_weighing").element.style.display='block'



    from pyscript import when

    @when("click", selector="#mac_addrs button")
    def any_name(evt):
        print("aaaaaaaaaaaaaaaaaa")
        print(evt.target.innerText)
        # Element("editor_mac_addr").element.value = g_json[0]['mac_addr']

    import asyncio
    import json
    from static.request import request # import our request function.

    baseurl = "http://voicevon.vicp.io:1234"
    headers = {"Content-type": "application/json"}
    g_json = {}

    async def async_request_post(url, input_json, post_function=None):
        body = json.dumps(input_json)
        response = await request(url, body=body, method="POST", headers=headers)
        if post_function is not None:
            post_function(await response.json())


    def do_save_post(response_json):
        Element("async_state").element.innerText = response_json['result']

    def do_lua_reset(reset_level):
        # show_debug()
        Element("debug_output").element.value=""
        display ('doing Insert', target='async_state')
        url = f"{baseurl}/lua_ide/save"
        inputs = {}
        inputs['mac_addr'] = Element("editor_mac_addr").value
        inputs['lua_script'] = Element("editor_lua_script").value
        inputs['reset_level'] = reset_level
        post_function = do_save_post
        asyncio.ensure_future(async_request_post(url, inputs, post_function))

    # def do_lua_save():
        # Element("debug_output").element.value=""
        # display ('doing Insert', target='async_state')
        # url = f"{baseurl}/lua_ide/save"
        # inputs = {}
        # inputs['mac_addr'] = Element("editor_mac_addr").value
        # inputs['lua_script'] = Element("editor_lua_script").value
        # inputs['action'] = 'save_and_run'
        # post_function = do_save_post
        # asyncio.ensure_future(async_request_post(url, inputs, post_function))
        
    def do_lua_delete():
        url = f"{baseurl}/lua_ide/delete"
        inputs={}
        inputs['mac_addr'] = Element("editor_mac_addr").element.value
        asyncio.ensure_future(async_request_post(url,inputs))

    def do_net_config_save():
        url = f"{baseurl}/lua_ide/save_net_config"
        inputs={}
        inputs['mac_addr'] = Element("editor_mac_addr").element.value
        net_config = {}
        inputs["net_config"] = net_config
        net_config["wifi_ssid"] = Element("net_config_wifi_ssid").value
        net_config["wifi_password"] = Element("net_config_wifi_password").value
        net_config["mqtt_broker"] = Element("net_config_mqtt_broker").value
        net_config["mqtt_port"] = Element("net_config_mqtt_port").value
        net_config["mqtt_uid"] = Element("net_config_mqtt_uid").value
        net_config["mqtt_password"] = Element("main_lua_url").value
        net_config["mqtt_main_lua_url"] = Element("main_lua_url").value

        asyncio.ensure_future(async_request_post(url,inputs))

    def do_app_config_save():
        print("do_app_config_save()")
    
    def search_input_post(json):
        global g_json
        g_json = json
        html = ''
        index = 0
        if json != []:
            for item in json:
                html = html + '<button py-click="select_key('+ str(index) + ')">'  + item['mac_addr']  + '</button><br>' 
                index = index + 1
        Element('mac_addrs').element.innerHTML = html

    def search_input():
        url = f"{baseurl}/lua_ide/search"
        inputs = {}
        inputs['mac_addr'] = Element("search").value
        post_function = search_input_post
        asyncio.ensure_future(async_request_post(url, inputs, post_function))


    def select_key(index):
        Element('editor_mac_addr').element.value = g_json[index]['mac_addr']
        Element('editor_lua_script').element.value = g_json[index]['lua_script']

    Element("pyscript_ready").element.innerText="Py-Script is ready."


</py-script>




{% endblock %}

