{% extends "common_webpage.html" %}
{% block pyscript%}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-config>
    [splashscreen]
    enabled = true
    [[fetch]]
    files = ["/static/request.py"]
</py-config>
{% endblock%}

{% block page_content %}
<div id="pyscript_ready">Py-Script is loading... </div>
<table width="100%">
    <td>search mqtt_topic...<br>
        <input id="search" py-input="search_input()">
        <div id="values"></div>
        {% for value in values %}
        <button>{{ value }} </button><br>
        {% endfor %}</div>
    </td>
    <td>
        <input id="mqtt_topic" width="30" value="test_topic"><br>
        <textarea id="json_config">{"my_os":"windows", "from_camera":false}</textarea><br>
        <button id="delete" py-click="do_delete()">Delete</button>
        <button id="save" py-click="do_save()">Save</button>
        <br><br>
        <label id="async_state"></label>
    </td>
</table>







<py-script>
    from pyscript import when
    @when("click", selector="#values button")
    def value_click(evt):
        print(evt.target.innerText)

    Element("pyscript_ready").element.innerText="Py-Script is ready."
</py-script>

<py-script>
    import asyncio
    import json
    from static.request import request # import our request function.

    baseurl = "http://localhost:5000"
    headers = {"Content-type": "application/json"}

    async def async_insert(json_data):
        # POST
        body = json.dumps(json_data)
        new_post = await request(f"{baseurl}/node_config/save", body=body, method="POST", headers=headers)
        # print(f"POST request=> status:{new_post.status}, json:{await new_post.json()}")

        Element("async_state").element.innerText = "Insert is done, Successed?"
        # Element("async_state").element.innerText = await response.text

    def do_save():
        display ('doing Insert', target='async_state')
        inputs = {}
        inputs['mqtt_topic'] = Element("mqtt_topic").value
        inputs['config'] = Element("json_config").value
        asyncio.ensure_future(async_insert(inputs))

    def do_delete():
        pass

    async def async_search_input(json_data):
        # POST
        body = json.dumps(json_data)
        new_post = await request(f"{baseurl}/node_config/search", body=body, method="POST", headers=headers)
        print(f"POST request=> status:{new_post.status}, json:{await new_post.json()}")

        Element("async_state").element.innerText = "Search is done, Successed?"
        # Element("async_state").element.innerText = await response.text

    def search_input():
        inputs = {}
        inputs['mqtt_topic'] = Element("search").value
        print(inputs)
        asyncio.ensure_future(async_search_input(inputs))

</py-script>


{% endblock %}