{% extends "common_webpage.html" %}
{% block page_content %}

<h1>自动仓库系列</h1>
水平旋转库
<li> <a style="text-decoration: none;" href="/product_twh_m1">散牙自动仓</a></li>
<br>垂直旋转库
<li>板牙自动仓--正在研发中</li>

<br>相关附件
<li>上下料机械手</li>
<li>AGV</li>


<h1>私有云仓</h1>
<li><a style="text-decoration: none;" href="http://www.logclub.com/articleInfo/NjAxNDY=">什么是云仓？</a><p>

从自动仓库到云仓，<br>
不同于第三方云仓，私有云仓一般是小型的，甚至是微型的。麻雀虽小，五脏俱全。 私有云仓具有一切大型云仓的概念和功能。

<h3>私有云仓库的优点</h3>
<li>伸缩性部署，可以分批增加设备，和业务发展的需求直接关联。无需一次性完成大笔投资。</li>
<li>占地面积小</li>
<li>结合WMS, 可以直接关联订单，这一点尤其适合电商</li>
<ul>
    <li>如果每天超过50个订单</li>
    <li>如果供应产品的规格超过300个</li>
    <li>可以大幅度降低<b>人工拣货配货环节的成本</b>，同时提高效率和准确度</li>

</ul>



{% endblock %}